*.swp
#data/files/*
data/itdb.db

dwsync.xml
data/files.zip
.gitignore
data/pure.db.bak
/php/locations/AEC.php
/php/locations/AG.php
/php/locations/AH.php
/php/locations/BB.php
/php/locations/CH.php
/php/locations/CT.php
/php/locations/DGHH.php
/php/locations/DH.php
/php/locations/EX.php
/php/locations/FL.php
/php/locations/GA.php
/php/locations/GB.php
/php/locations/GC.php
/php/locations/HH.php
/php/locations/HMH.php
/php/locations/KWEC.php
/php/locations/LFE.php
/php/locations/LFW.php
/php/locations/MA.php
/php/locations/MC.php
/php/locations/MH.php
/php/locations/MM.php
/php/locations/MU.php
/php/locations/OPP.php
/php/locations/PH.php
/php/locations/PRES.php
/php/locations/RC.php
/php/locations/RH.php
/php/locations/SB.php
/php/locations/SCM.php
/php/locations/SF.php
/php/locations/SFP.php
/php/locations/SH.php
/php/locations/SPA.php
/php/locations/SPB.php
/php/locations/SPC.php
/php/locations/SPD.php
/php/locations/STH.php
/php/locations/TF.php
/php/locations/TH.php
/php/locations/UA.php
/php/locations/UA2.php
/php/locations/WH.php
/php/locations/WI.php
/php/locations/WP1.php
/php/locations/WPA.php
/php/locations/WPB.php
/php/locations/WPC.php
/php/locations/WPD.php
/php/locations/WPE.php
/php/locations/WPF.php
php/import - Copy.php
