*.swp
#data/files/*
data/itdb.db

/data/pure.db
/php/locations/HSH.php
/php/locations/AEC.php
/php/locations/AG.php
/php/locations/AH.php
/php/locations/AT.php
/php/locations/BB.php
/php/locations/CH.php
/php/locations/CT.php
/php/locations/DH.php
/php/locations/FL.php
/php/locations/GA.php
/php/locations/GC.php
/php/locations/GR.php
/php/locations/HH.php
/php/locations/HMH.php
/php/locations/KWEC.php
/php/locations/LFE.php
/php/locations/LFW.php
/php/locations/MA.php
/php/locations/MC.php
/php/locations/MH.php
/php/locations/MM.php
/php/locations/MU.php
/php/locations/NA.php
/php/locations/OPP.php
/php/locations/PH.php
/php/locations/PRES.php
/php/locations/RC.php
/php/locations/RH.php
/php/locations/RLM.php
/php/locations/SB.php
/php/locations/SCM.php
/php/locations/SCR.php
/php/locations/SFP.php
/php/locations/SH.php
/php/locations/SPA.php
/php/locations/SPB.php
/php/locations/SPC.php
/php/locations/SPD.php
/php/locations/STH.php
/php/locations/TF.php
/php/locations/TH.php
/php/locations/TV.php
/php/locations/UA.php
/php/locations/UA2.php
/php/locations/VV.php
/php/locations/WH.php
/php/locations/WI.php
/php/locations/WP1.php
/php/locations/WPA.php
/php/locations/WPB.php
/php/locations/WPC.php
/php/locations/WPD.php
/php/locations/WPE.php
/php/locations/WPF.php
/php/locations/HSH.php
/updates/db/_notes/dwsync.xml
/_notes/dwsync.xml
/contrib/_notes/dwsync.xml
/css/_notes/dwsync.xml
/css/jquery-themes/blue1/_notes/dwsync.xml
/css/jquery-themes/blue1/images/_notes/dwsync.xml
/css/jquery-themes/blue2/_notes/dwsync.xml
/css/jquery-themes/blue2/images/_notes/dwsync.xml
/css/jquery-themes/dark-hive/_notes/dwsync.xml
/css/jquery-themes/dark-hive/images/_notes/dwsync.xml
/css/jquery-themes/redmond/_notes/dwsync.xml
/css/jquery-themes/redmond/images/_notes/dwsync.xml
/data/_notes/dwsync.xml
/doc/_notes/dwsync.xml
/doc/aes/_notes/dwsync.xml
/images/_notes/dwsync.xml
/images/big/_notes/dwsync.xml
/js/DataTables-1.8.2/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/advanced_init/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/ajax/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/ajax/sources/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/api/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/basic_init/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/data_sources/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/examples_support/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/examples_support/syntax/css/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/examples_support/syntax/images/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/examples_support/syntax/js/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/examples_support/syntax/license/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/examples_support/themes/smoothness/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/examples_support/themes/smoothness/images/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/examples_support/themes/ui-lightness/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/examples_support/themes/ui-lightness/images/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/plug-ins/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/server_side/_notes/dwsync.xml
/js/DataTables-1.8.2/examples/server_side/scripts/_notes/dwsync.xml
/js/DataTables-1.8.2/media/css/_notes/dwsync.xml
/js/DataTables-1.8.2/media/images/_notes/dwsync.xml
/js/DataTables-1.8.2/media/js/_notes/dwsync.xml
/js/DataTables-1.8.2/media/unit_testing/_notes/dwsync.xml
/js/DataTables-1.8.2/media/unit_testing/performance/_notes/dwsync.xml
/js/DataTables-1.8.2/media/unit_testing/templates/_notes/dwsync.xml
/js/DataTables-1.8.2/media/unit_testing/tests/1_dom/_notes/dwsync.xml
/js/DataTables-1.8.2/media/unit_testing/tests_onhold/1_dom/_notes/dwsync.xml
/js/DataTables-1.8.2/media/unit_testing/tests_onhold/2_js/_notes/dwsync.xml
/js/DataTables-1.8.2/media/unit_testing/tests_onhold/3_ajax/_notes/dwsync.xml
/js/DataTables-1.8.2/media/unit_testing/tests_onhold/4_server-side/_notes/dwsync.xml
/js/DataTables-1.8.2/media/unit_testing/tests_onhold/5_ajax_objects/_notes/dwsync.xml
/js/DataTables-1.8.2/media/unit_testing/tests_onhold/6_delayed_rendering/_notes/dwsync.xml
/js/_notes/dwsync.xml
/js/ckeditor/_notes/dwsync.xml
/js/ckeditor/adapters/_notes/dwsync.xml
/js/ckeditor/lang/_notes/dwsync.xml
/js/ckeditor/plugins/_notes/dwsync.xml
/js/ckeditor/plugins/a11yhelp/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/a11yhelp/dialogs/lang/_notes/dwsync.xml
/js/ckeditor/plugins/about/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/about/dialogs/hidpi/_notes/dwsync.xml
/js/ckeditor/plugins/clipboard/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/colordialog/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/copyformatting/cursors/_notes/dwsync.xml
/js/ckeditor/plugins/copyformatting/styles/_notes/dwsync.xml
/js/ckeditor/plugins/dialog/_notes/dwsync.xml
/js/ckeditor/plugins/div/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/find/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/flash/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/flash/images/_notes/dwsync.xml
/js/ckeditor/plugins/forms/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/forms/images/_notes/dwsync.xml
/js/ckeditor/plugins/iframe/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/iframe/images/_notes/dwsync.xml
/js/ckeditor/plugins/image/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/image/images/_notes/dwsync.xml
/js/ckeditor/plugins/link/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/link/images/_notes/dwsync.xml
/js/ckeditor/plugins/link/images/hidpi/_notes/dwsync.xml
/js/ckeditor/plugins/liststyle/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/magicline/images/_notes/dwsync.xml
/js/ckeditor/plugins/magicline/images/hidpi/_notes/dwsync.xml
/js/ckeditor/plugins/pagebreak/images/_notes/dwsync.xml
/js/ckeditor/plugins/pastefromword/filter/_notes/dwsync.xml
/js/ckeditor/plugins/preview/_notes/dwsync.xml
/js/ckeditor/plugins/scayt/_notes/dwsync.xml
/js/ckeditor/plugins/scayt/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/scayt/skins/moono-lisa/_notes/dwsync.xml
/js/ckeditor/plugins/showblocks/images/_notes/dwsync.xml
/js/ckeditor/plugins/smiley/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/smiley/images/_notes/dwsync.xml
/js/ckeditor/plugins/specialchar/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/specialchar/dialogs/lang/_notes/dwsync.xml
/js/ckeditor/plugins/table/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/tabletools/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/templates/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/templates/templates/_notes/dwsync.xml
/js/ckeditor/plugins/templates/templates/images/_notes/dwsync.xml
/js/ckeditor/plugins/wsc/_notes/dwsync.xml
/js/ckeditor/plugins/wsc/dialogs/_notes/dwsync.xml
/js/ckeditor/plugins/wsc/skins/moono-lisa/_notes/dwsync.xml
/js/ckeditor/samples/_notes/dwsync.xml
/js/ckeditor/samples/css/_notes/dwsync.xml
/js/ckeditor/samples/img/_notes/dwsync.xml
/js/ckeditor/samples/js/_notes/dwsync.xml
/js/ckeditor/samples/old/_notes/dwsync.xml
/js/ckeditor/samples/old/assets/_notes/dwsync.xml
/js/ckeditor/samples/old/assets/inlineall/_notes/dwsync.xml
/js/ckeditor/samples/old/assets/outputxhtml/_notes/dwsync.xml
/js/ckeditor/samples/old/assets/uilanguages/_notes/dwsync.xml
/js/ckeditor/samples/old/dialog/_notes/dwsync.xml
/js/ckeditor/samples/old/dialog/assets/_notes/dwsync.xml
/js/ckeditor/samples/old/enterkey/_notes/dwsync.xml
/js/ckeditor/samples/old/htmlwriter/_notes/dwsync.xml
/js/ckeditor/samples/old/htmlwriter/assets/outputforflash/_notes/dwsync.xml
/js/ckeditor/samples/old/magicline/_notes/dwsync.xml
/js/ckeditor/samples/old/toolbar/_notes/dwsync.xml
/js/ckeditor/samples/old/wysiwygarea/_notes/dwsync.xml
/js/ckeditor/samples/toolbarconfigurator/_notes/dwsync.xml
/js/ckeditor/samples/toolbarconfigurator/css/_notes/dwsync.xml
/js/ckeditor/samples/toolbarconfigurator/font/_notes/dwsync.xml
/js/ckeditor/samples/toolbarconfigurator/js/_notes/dwsync.xml
/js/ckeditor/samples/toolbarconfigurator/lib/codemirror/_notes/dwsync.xml
/js/ckeditor/skins/moono-lisa/_notes/dwsync.xml
/js/ckeditor/skins/moono-lisa/images/_notes/dwsync.xml
/js/ckeditor/skins/moono-lisa/images/hidpi/_notes/dwsync.xml
/js/jqplot/_notes/dwsync.xml
/js/jqplot/docs/_notes/dwsync.xml
/js/jqplot/docs/files/_notes/dwsync.xml
/js/jqplot/docs/files/images/_notes/dwsync.xml
/js/jqplot/docs/files/plugins/_notes/dwsync.xml
/js/jqplot/docs/index/_notes/dwsync.xml
/js/jqplot/docs/javascript/_notes/dwsync.xml
/js/jqplot/docs/search/_notes/dwsync.xml
/js/jqplot/docs/styles/_notes/dwsync.xml
/js/jqplot/examples/_notes/dwsync.xml
/js/jqplot/examples/images/_notes/dwsync.xml
/js/jqplot/examples/jquery-ui/css/ui-lightness/_notes/dwsync.xml
/js/jqplot/examples/jquery-ui/css/ui-lightness/images/_notes/dwsync.xml
/js/jqplot/examples/jquery-ui/js/_notes/dwsync.xml
/js/jqplot/examples/syntaxhighlighter/_notes/dwsync.xml
/js/jqplot/examples/syntaxhighlighter/scripts/_notes/dwsync.xml
/js/jqplot/examples/syntaxhighlighter/styles/_notes/dwsync.xml
/js/jqplot/plugins/_notes/dwsync.xml
/js/jstree/_docs/_notes/dwsync.xml
/js/jstree/_docs/syntax/_notes/dwsync.xml
/js/jstree/_lib/_notes/dwsync.xml
/js/jstree/_notes/dwsync.xml
/js/jstree/themes/apple/_notes/dwsync.xml
/js/jstree/themes/classic/_notes/dwsync.xml
/js/jstree/themes/default-rtl/_notes/dwsync.xml
/js/jstree/themes/default/_notes/dwsync.xml
/php/_notes/dwsync.xml
/php/locations/_notes/dwsync.xml
/swf/_notes/dwsync.xml
/tcpdf/_notes/dwsync.xml
/tcpdf/config/_notes/dwsync.xml
/tcpdf/config/lang/_notes/dwsync.xml
/tcpdf/fonts/_notes/dwsync.xml
/tcpdf/fonts/ae_fonts_2.0/_notes/dwsync.xml
/tcpdf/fonts/freefont-20120503/_notes/dwsync.xml
/tcpdf/include/_notes/dwsync.xml
/tcpdf/include/barcodes/_notes/dwsync.xml
/tcpdf/tools/_notes/dwsync.xml
/translations/_notes/dwsync.xml
/phpliteadmin.php
/phpliteadmin.php
/phpliteadmin.php
